/* Green */

html {background-image:url([[pix:theme|bg]]); background-repeat: repeat; background-color: #4b7952;font-size: 13px;}


#page-content {background-color: white;}

/**
 * Boxes
 */

.navbar {background-image:url([[pix:theme|breadcrumb-gradient]]);background-repeat: repeat-x;background-color:#a4bba8;}


/**
 * Overriding base
 */
#page-header {background-image:url([[pix:theme|logo]]); background-repeat: no-repeat; background-color: #222222;}
#page-header .headermain {display:none}
#page-header .headermenu {height: 50px;}

.navbar li a:link,
.navbar li a:visited {color: white;}
.navbar li span {color: #E3DFD4};

/**
 * Custom menu
 */
#custommenu .yui3-menu {background-color:#a4bba8;}
#custommenu .yui3-menu {background-color:#a4bba8;}
#custommenu .yui3-menu .yui3-menu {background-image:none;background-color:#a4bba8;}
#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content,
#custommenu .yui3-menu .yui3-menu-content,
#custommenu .yui3-menu .yui3-menu .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul {border:none;}

/*
#custommenu .yui3-menu .yui3-menuitem-content {background-color: #a4bba8;}

#custommenu ul.first-of-type li{border-right:1px solid #ccc}
*/

.header {background-image:url([[pix:theme|header-gradient]]);background-repeat: repeat-x; background-color:#a4bba8;}

