/* Styles Imported from Custom Settings Hover & Background
-----------------------------------------------------------*/
#custommenu .yui3-menu-horizontal.javascript-disabled.yui3-menu.custom_menu_submenu li a.yui3-menu-label,
#custommenu .yui3-menu-horizontal.javascript-disabled div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-label-active,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-label-menuvisible,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu .yui3-menu .yui3-menu-label-active,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li:hover,
#custommenu .yui3-menu.custom_menu_submenu li a.yui3-menu-label,
#custommenu div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label-active,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-content li:hover,
#homeicon:hover,
.profilebar-options li:hover i
{
    background-color: [[setting:menuhovercolor]];
}
a:active, a:hover { color: [[setting:menuhovercolor]]; }

#custommenu .yui3-menu-horizontal .yui3-menu-label .yui3-menu-label-active,
#custommenu .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label-menuvisible {
    background-image: none;
    background-color: [[setting:menuhovercolor]];
    border: 0 none;
}
body {
    background-image: url([[setting:graphicwrap]]);
    background-repeat: no-repeat;
    background-position: left top;
}
#profilebar-innerwrap {
    background: url([[setting:profilebarbg]]);
}
div.yui3-widget-bd a:link {
    background: url([[setting:profilebarbg]]);
    text-decoration: none;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]