/** General **/
.block {border: 1px solid #C6BDA8;}
.block .content {border-color: #dddddd;background-color:#F6F6F6;}
.block .header .title {background-image:url([[pix:theme|gradient_h]]);background-repeat: repeat-x;background-color: #E3DFD4;};
